.clients {
  padding-top: 75px;
  padding-bottom: 70px;
  background-color: whitesmoke;
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    &-content {
      flex: 1 0 auto;
    }
    img {
      max-width: 150px;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 1.3em;
      margin-bottom: 7px;
    }
    h6 {
      font-weight: 400;
      font-size: 1em;
    }
    &-links {
      font-size: 3em;
      a {
        transition: all 0.21s ease-in-out;
        color: #75b65f;
        // display: inline-block;
        &:hover {
          color: #2e2e2e;
          svg {
            animation-name: bounceIn;
            animation-duration: 1s;
            animation-iteration-count: 1;
          }
        }
      }
    }
  }
}
@media (max-width: 790px) {
  .clients {
    .container {
      flex-wrap: wrap;
    }
    &__item {
      width: 200px;
      img {
        max-width: 100px;
      }
      h5 {
        font-size: 1.1em;
      }
      h6 {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
      &-links {
        font-size: 2.9em;
      }
    }
  }
}
@media (max-width: 644px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 40px;
    .container {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 25px;
      p {
        margin: 0 auto;
        max-width: 400px;
        margin-bottom: 10px;
      }
      &-links {
        font-size: 2.9em;
      }
    }
  }
}
